<header class="post-intro story-bg" data-story-bg="{{page.imagem1}}" data-stellar-background-ratio="0.2">


</header>
<!-- end post intro-->

<div class="bg-pattern">

<div class="container">

    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <div class="item-description">

                <h2 class="item-description__title">{{page.titulo}}</h2>

                <div class="item-description__details">
                    {{page.sinopse}}
                </div>
                <div class="item-description__details">
                    ***
                </div>
                <div class="item-description__details">
                    {{page.english}}
                </div>

                <ul class="item-description__tags">
                    <li>
                        {{page.categoria}}
                    </li>
                    
                    <li>
                        <time datetime="2015-04-26T12:04">{{page.mes}}, {{page.ano}}</time>
                    </li>

                </ul>

            </div>
            <!-- end inline-detail-full-->

        </div>
        <!-- end col-md-4 -->

    </div>
    <!-- / row -->

</div>
<!-- / container -->

</div>
<!-- / bg-pattern -->

<div class="container-fluid-flat">

    <div class="row">

        <div class="col-md-12">

            <div class="inline-details-photos">

                <div class="master-slider-ajax ms-skin-default master-classic" data-width="1140" data-height="700" data-layout="fillwidth" data-loop="true" data-instant-start-layers="true" data-view="basic" data-autoplay="true" data-control-bullets="true">

                    <!-- new slide -->
                    <div class="ms-slide slide-1" data-delay="6">

                        <!-- slide background -->
                        <img src="images/masterslider/blank.gif" data-src="{{page.imagem2}}" alt="Slide1 background" />

                    </div>
                    <!-- end of slide -->

                    <!-- new slide -->
                    <div class="ms-slide slide-2" data-delay="6">

                        <!-- slide background -->
                        <img src="images/masterslider/blank.gif" data-src="{{page.imagem3}}" alt="Slide1 background" />

                    </div>
                    <!-- end of slide -->

                    <!-- new Slide -->
                    <div class="ms-slide slide-3" data-delay="6">
                        <img src="images/masterslider/blank.gif" data-src="{{page.imagem4}}" alt="Slide1 background" />

                    </div>

                </div>
                <!-- end master slider -->

            </div>
            <!-- end inline-img-full -->

        </div>
        <!-- end col-md-12 -->

    </div>
    <!-- end row -->

</div>
<!-- end container -->

<div class="container-fluid text-center item-footer">

    <div class="row">

        <div class="col-md-12">

            <h3 class="second-title">Quer saber mais? </h3>

            <ul class="item-share">
                <li><a href="{{page.externo}}"><i class="fa fa-heart fa-lg"></i></a>
                </li>
            </ul>

        </div>

    </div>

</div>
