<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Lina Lopes </title>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>

    <link href="css/icon-font/font-awesome.css" rel="stylesheet">
    <link href="css/icon-font/pe-icon-7.css" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/animsition.css" rel="stylesheet">

    <link href="css/masterslider/masterslider.css" rel="stylesheet">

    <link href="revolution/css/settings.css" rel="stylesheet">
    <link href="revolution/css/layers.css" rel="stylesheet">
    <link href="revolution/css/navigation.css" rel="stylesheet">
    <!-- rev slider -->

    <link href="css/style.css" rel="stylesheet">


    <script src="js/modernizr.js"></script>


</head>

<body>

    <div class="animsition-overlay" data-animsition-overlay="true">

        <header>

            <div class="nav-wrap is-fixed is-shrink off-canvas" data-is-fill="true">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-md-12 carna-menu-wrap">

                            <ul class="carna-menu menu-highlight menu-smooth">
                                <li><a href="index.html#home" data-scroll class="scrollTo active">Home</a>

                                </li>

                                <li><a href="index.html#about" data-scroll class="scrollTo">Manifesto</a>

                                </li>

                                <li><a href="index.html#work" data-scroll class="scrollTo">Portfolio</a>

                                </li>

                                <li><a href="index.html#news" data-scroll class="scrollTo">Notícias</a>

                                </li>
                                <li><a class="page-outer" href="blog.html">Textos</a>

                                </li>

                            </ul>
                            <!-- end of menu -->

                        </div>
                        <!-- / col-md-9 -->

                        <div class="col-xs-3 text-right button-wrap">
                            <button class="button-trigger"><span></span>
                            </button>
                        </div>
                        <!-- / col-xs-6 -->

                        <div class="col-xs-6 col-sm-6 col-md-3 brand-band">

                            <div class="brand-wrap clearfix">

                                <a href="index.html" class="brand">
                                    <img src="images/logo/logo-white.png" class="logo-white retina-img" alt="">
                                    <img src="images/logo/logo.png" class="logo-dark retina-img" alt="">

                                </a>
                            </div>

                        </div>
                        <!-- / col-xs-6 -->

                        <div class="col-xs-3 mm-button-band ">

                            <button id="mm-menu-toggle" class="mm-menu-toggle">Menu<span></span>
                            </button>
                        </div>

                        <div class="col-md-12 mobile-wrap" data-one-page="true" data-has-button="true">
                            <ul class="carna-menu-mobile mobile-smooth" data-scroll-header>

                                <li>
                                    <a href="index.html#home" class="active scrollToMini" data-scroll>Home</a>

                                </li>
                                <li><a href="index.html#about" data-scroll class="scrollToMini">Manifesto</a>

                                </li>
                                <li><a href="index.html#work" data-scroll class="scrollToMini">Portfolio</a>

                                </li>
                                
                                <li><a href="index.html#news" data-scroll class="scrollToMini">Notícias</a>

                                </li>
                                <li><a href="blog.html">Textos</a>

                            </ul>

                        </div>
                        <!-- / col-md-12 -->

                    </div>
                    <!-- end row -->

                </div>
                <!-- end container -->

            </div>
            <!-- end nav-wrap -->

        </header>
        <!-- end header -->

        <div id="wrapper" class="content-wrapper pages wrapper">
            
            <div class="blog-intro blog-intro__img">

            <div class="container-fluid">
                
                <div class="row">
                   
                    <div class="col-md-12">

                            <div class="blog-intro__header">

                                <h5 class="section-header">Textos <span class="underline animated" data-animation="fullWidth"></span></h5>

                                <h1 class="hero-header">

                                  arte, design, tecnologia e <br>
                                  outras coisinhas mais

                              </h1>

                          </div>

                        </div>
                        <!-- / col-md-12 -->
                        
                    </div>
                    <!-- / row -->
                    
                </div>
               <!-- / container-fluid-->

            </div>
           <!--/ blog-intro -->
           
           <div class="container space-y-t-h space-y-b">

                <div class="row">

                    <div class="col-md-9">

                        <div class="row">

                            <div class="col-md-12">

                                <ul class="blog-stander-sidebar">

                                    <li class="blog-stander-sidebar__details photography" data-category="photography">
                                        <div class="post-img post-media">
                                            <a href="#">
                                                <img src="http://placehold.it/1170x600" alt="">
                                            </a>
                                        </div>
                                        <div class="post-band">
                                            <div class="post-data">
                                               <h2> <a href="post-page.html" class="post-title">mono magic</a> </h2>
                                               <ul class="post-data__group1">
                                                  <li class="post-categorize"> <a href="#" >life style</a></li>
                                                   <li><time datetime="2015-04-26T12:04"> <strong>22.Nov.<span class="year-date">2015</span></strong></time></li>
                                               </ul>

                                            </div>
                                            <!-- / post-data -->
                                            <div class="post-brief">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolore doloribus, consequuntur quam, non corporis fugiat natus sunt aut quis cupiditate ipsam? Nesciunt esse repellendus nulla quidem, optio culpa ducimus...<a href="post-page.html">read more  </a> </p>

                                            </div>
                                            
                                            <ul class="post-data__group2">
                                                <li class="post-author"><a href="#"> <i class="fa fa-user"></i> webgear media</a></li>
                                                <li class="post-comment"> <a href="#"><i class="fa fa-comment"></i> 1 </a> </li>
                                           </ul>
                                        </div>
                                        <!-- / post-band -->

                                    </li>


                                    <li class="blog-stander-sidebar__details post-link photography" data-category="photography">
                                        <div class="post-link__in">
                                            <a href="#">
                                                <p>keep carna in your pocket</p>
                                                <span>www.carna.com</span>
                                                <i class="ti-link"></i>

                                            </a>
                                        </div>
                                        <i class="fa fa-link"></i>
                                    </li>

                                </ul>
                                <!-- #work-grid-item -->

                            </div>
                            <!-- / col-md-12 -->

                        </div>
                        <!-- / row -->

                    </div>
                    <!-- end col-md-9-->

                    <div class="padding-top-half visible-sm-block visible-xs-block"></div>

                    <div class="col-md-3">

                        <aside class="blog-sidebar">
                            
                            <section class="recent-posts">

                                <h4 class="post-title">Textos Recentes</h4>
                                <ul>
                                    <li class="clearfix">
                                        <a href="#"><img src="http://placehold.it/60x60" alt=""></a>
                                        <div class="recent-post__inner">
                                            <a href="#"> all the way</a>
                                            <time datetime="2015-04-26T12:04"> <strong>22.Nov.<span class="year-date">2015</span></strong></time>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#"><img src="http://placehold.it/60x60" alt=""></a>
                                        <div class="recent-post__inner">
                                            <a href="#"> mono magic</a>
                                            <time datetime="2015-04-26T12:04"> <strong>22.Nov.<span class="year-date">2015</span></strong></time>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#"><img src="http://placehold.it/60x60" alt=""></a>
                                        <div class="recent-post__inner">
                                            <a href="#"> steve jobs</a>
                                            <time datetime="2015-04-26T12:04"> <strong>22.Nov.<span class="year-date">2015</span></strong></time>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#"><img src="http://placehold.it/60x60" alt=""></a>
                                        <div class="recent-post__inner">
                                            <a href="#"> summer hot</a>
                                            <time datetime="2015-04-26T12:04"> <strong>22.Nov.<span class="year-date">2015</span></strong></time>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#"><img src="http://placehold.it/60x60" alt=""></a>
                                        <div class="recent-post__inner">
                                            <a href="#"> how to pose</a>
                                            <time datetime="2015-04-26T12:04"> <strong>22.Nov.<span class="year-date">2015</span></strong></time>
                                        </div>
                                    </li>
                                </ul>

                            </section>

                            <section class="categories">
                                <h4 class="post-title">Categorias</h4>
                                <ul>
                                    <li>
                                        <a href="#"> lifestyle</a>
                                    </li>
                                    <li>
                                        <a href="#"> photography</a>
                                    </li>
                                    <li>
                                        <a href="#"> news</a>
                                    </li>
                                    <li>
                                        <a href="#"> music</a>
                                    </li>
                                    <li>
                                        <a href="#"> health</a>
                                    </li>
                                    <li>
                                        <a href="#"> science</a>
                                    </li>
                                </ul>

                            </section>
                            
                            <section class="tags">
                                <h4 class="post-title">tags</h4>
                                    <a href="#"> lifestyle</a>

                                    <a href="#"> photography</a>

                                    <a href="#"> news</a>

                                    <a href="#"> music</a>

                                    <a href="#"> health</a>

                                    <a href="#"> science</a>
                                    
                                    <a href="#"> design</a>
                                    
                                    <a href="#"> life</a>
                                    
                            </section>

                        </aside>
                        <!-- end blog sidebar -->

                    </div>
                    <!-- end col-md-3 -->

                </div>
                <!-- end row -->

            </div>
            <!-- end container -->
        
        <footer class="main-footer space-y text-center">

            <h4 class="text-uppercase title-footer">Lina Lopes 2017</h4>

        </footer>
            
        </div>
        <!-- / content-wrapper-->


        <nav id="mm-menu" class="mm-menu">

            <h1 class="mm-menu__title text-uppercase">Lina Lopes</h1>

            <div class="mm-menu__address">
                <p>Artista e designer nos campos de design paramétrico/generativo, video mapping, prototipagem, interatividade, wearables e internet das coisas. Sua produção no campo das novas mídias permeia o conceito de instalação interativa, programação com Arduíno, Processing, Raspberry Pi, priorizando projetos de manipulação de imagem em tempo real.</p>

            </div>
            <!-- / mm-menu__address-->

            <div class="mm-menu__address">
                <h6 class="text-uppercase">Contato</h6>
                <ul class="mm-menu__list">
                    <li>lina@lilo.zone</li>
                </ul>
            </div>
            <!-- / mm-menu__address-->

            <div class="mm-menu__address">
                <h6 class="text-uppercase">Atelier</h6>
                <ul class="mm-menu__list">
                    <li>Rua Harmonia 797</li>
                    <li>São Paulo-SP</li>
                </ul>
            </div>
            <!-- / mm-menu__address-->

            <div class="mm-menu__address">
                <h6 class="text-uppercase">Lina Lopes</h6>

                <ul class="mm-menu__social">
                    <li><a href="https://www.facebook.com/senhoritalina"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://plus.google.com/u/1/117348477027876618812"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/lilo.zone/"><i class="fa fa-instagram"></i></a>
                    </li>

                </ul>
                <!-- / mm-menu__social -->

            </div>

        </nav>
        <!-- /nav -->

        <a href="#" class="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

    </div>
    <!-- / animsation -->

    <script src="js/jquery.1.12.4.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.animsition.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/masterslider.min.js"></script>
    <script src="js/materialmenu.js"></script>
    <script src="js/mediaelement-and-player.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/custom.js"></script>
    
</body>

</html>